{% load static %}
<!DOCTYPE html>
<html lang="th">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/png" href="{% static 'dataapp/img/logoweb2.png' %}">
  <link href="https://fonts.googleapis.com/css2?family=Sarabun:wght@300;400;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'dataapp/css/newform.css' %}">
  
  <title>เพิ่มข้อมูลสกุลพืช</title>
</head>
<body>
  <div class="container">
    
    <div class="btn-container">
      <a href="{% url 'genusdata' %}" class="btn btn-back">⬅ กลับหน้าตารางข้อมูล</a>
    </div>

    <section class="form-card">
        <header class="form-header">
            <h2 class="page-title">🍃 แบบฟอร์มเพิ่มข้อมูลสกุลพืช</h2>
            <p class="text-muted">กรุณากรอกข้อมูลให้ครบถ้วน</p>
        </header>

        <form method="post" action="{% url 'addgenu' %}">
          {% csrf_token %}

          <div class="field">
            <label for="thainame">ชื่อสกุลพืช</label>
            <input type="text" name="genus" id="thainame" placeholder="" required>
          </div>

          <div class="field">
            <label for="sciname">หมายเหตุ</label>
            <input type="text" name="remark" id="sciname" placeholder="" required>
          </div>

          <hr class="divider">

          <div class="form-actions">
            <button type="submit" class="btn btn-save">บันทึกข้อมูล</button>
            <a href="{% url 'genusdata' %}" class="btn btn-danger">ยกเลิก</a>
          </div>

        </form>
    </section>

  </div>

</body>
</html>