{% load static %}
<!DOCTYPE html>
<html lang="th">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/png" href="{% static 'dataapp/img/logoweb2.png' %}">
  <link href="https://fonts.googleapis.com/css2?family=Sarabun:wght@300;400;600&display=swap" rel="stylesheet">
  
  <link rel="stylesheet" href="{% static 'dataapp/css/newform.css' %}">
  
  <title>เพิ่มข้อมูลสายพันธุ์พืช</title>
</head>
<body>

  <div class="container">
    
    <div class="btn-container">
       <a href="{% url 'specidata' %}" class="btn btn-back">⬅ กลับหน้าตารางข้อมูล</a>
    </div>

    <section class="form-card">
        <header class="form-header">
            <h2 class="page-title">🌿 แบบฟอร์มบันทึกข้อมูลต้นไม้</h2>
            <p class="text-muted">กรุณากรอกข้อมูลให้ครบถ้วน</p>
        </header>

      <form method="post" action="{% url 'speciesimage' %}" enctype="multipart/form-data">

        {% csrf_token %}

        <!-- เลือกสายพันธุ์พืช -->
        <div class="field">
          <label>สายพันธุ์พืช</label>
          <select name="speciesid" required>
            <option value="">-- เลือกสายพันธุ์พืช --</option>
            {% for sp in species %}
            <option value="{{ sp.species_id }}">
            {{ sp.thai_name }}
            </option>
            {% endfor %}
          </select>
        </div>

        <!-- อัปโหลดรูป -->
        <div class="field">
          <label>รูปภาพ (สูงสุด 30 รูป)</label>
          <input type="file"
                name="imagesid"
                accept="image/*"
                multiple
                onchange="previewImages(event)">
        </div>

        <!-- แสดง preview -->
        <div id="preview-container"
            style="display:flex; gap:10px; flex-wrap:wrap;"></div>

        <div class="form-actions">
          <button type="submit" class="btn btn-save">บันทึกข้อมูล</button>
          <a href="{% url 'specidata' %}" class="btn btn-danger">ยกเลิก</a>
        </div>
      </form>
    </section>
  </div>
    <script>
      function previewImages(event) {
        const container = document.getElementById("preview-container");
        container.innerHTML = "";

        const files = event.target.files;

        if (files.length > 30) {
          alert("อัปโหลดได้ไม่เกิน 30 รูป");
          event.target.value = "";
          return;
        }

        for (let i = 0; i < files.length; i++) {
          const img = document.createElement("img");
          img.src = URL.createObjectURL(files[i]);
          img.style.width = "120px";
          img.style.borderRadius = "8px";
          img.style.objectFit = "cover";
          container.appendChild(img);
        }
      }
    </script>

</body>
</html>